* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box {
    width: 100%;
    height: 100vh;
    color: red;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px red;
}

.head {
    margin-bottom: 20px;
}
.track {
    margin-top: 15px;
}

.progress {
    width: 40%;
    height: 5%;
    background-color: lightslategray;
    border-radius: 17px;
    transition: width 0.3s ease;

}
.bar {
    height: 100%;
    background-color: white;
    border-radius: 17px;
    transition: width 0.3s ease;

}
.start {
    background-color: white;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 20px;


}