* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}


.container {
    background-color: floralwhite;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 30px;
    overflow: hidden;

}

h1 {
    text-align: center;
    color: black;
    margin-bottom: 1.2rem;

}

.form-grp {
    margin-bottom: 20px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 5px;
    color: lightgray;
    font-weight: bold;
}

input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    transition: border-color 0.3s;

}

input:focus {
    outline: none;
    border-color: #3498db;
}


small {
    visibility: hidden;
    position: absolute;
    bottom: -18px;
    left: 0;
    font-size: 12px;
}

button {
    cursor: pointer;
    background: #3498db;
    border: none;
    color: white;
    display: block;
    font-size: 1rem;
    margin-top: 20px;
    padding: 12px;
    border-radius: 4px;
    width: 100%;
    transition: background-color 0.3s;
    

}


button:hover {
    background-color: #2980b9;
}


.form-grp.error input{
    border-color: #e74c3c;
}

.form-grp.success input {
    border-color: #2ecc71;
}

.form-grp.error small {
    visibility: visible;
    color: #e74c3c;
}